<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <title>Todo App</title>
    </head>
    <body>
        {{> header}}
        <p>
            <a href="/todos">See all todos</a>
        </p>
    </body>
</html>