<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Todo App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<body>
    {{> header}} 
    {{#each todos}}
    <div>
       {{#if completed}}
            <input type="checkbox" class="panel panel-success" checked>{{text}}</input>
       {{else}}
            <input type="checkbox" class="panel panel-danger">{{text}}</div>
        {{/if}}
        </div>
    {{/each}}
</body>

</html>